{% extends "../admins/base_admin.html" %}{% block admin_content %}
<div class="container p-0 mt-1 d-flex align-items-center justify-content-center">
  <div class="flex-grow-1 flex-md-grow-0 card text-bg-dark w-75 mb-3">
      <div class="card-body m-5">
              <h1 class="text-center">Agregar Libro</h1>
          <form class="row g-3" method="post" action="{% url 'agregar' %}">
            {% csrf_token %}
              <div class="col-md-6">
                  <label for="titulo" class="form-label">Titulo</label>
                  <input type="text" class="form-control" name="titulo" id="titulo">
              </div>
              <div class="col-md-6">
                  <label for="autor" class="form-label">Autor</label>
                  <input type="text" class="form-control" name="autor" id="autor">
              </div>    
              <div class="col-md-6">
                  <label for="genero" class="form-label">Género</label>
                  <select class="form-select" name="genero" aria-label="Default select example">
                    <option selected>Selecciona el genero</option>
                    {% for g in genero %}
                    <option value="{{ g.id }}">{{ g.genero }}</option>
                    {% endfor %}
                  </select>
                  <a href="" data-bs-toggle="modal" data-bs-target="#agregar" class="form-text text-white">¿No encuentras el genero? ¡Agregalo!</a>
              </div>
              <div class="col-md-6">
                  <label for="fecha_publicacion" class="form-label">Fecha de Publicación</label>
                  <input type="date" class="form-control" name="fecha_publicacion" id="fecha_publicacion">
              </div>
              <div class="col-md-6">
                  <label for="isbn" class="form-label">ISBN</label>
                  <input type="number" class="form-control" name="isbn" id="isbn">
              </div>
              <div class="col-md-3">
                  <label for="cantidad_total" class="form-label">Cantidad Total</label>
                  <input type="number" class="form-control" name="cantidad_total" id="cantidad_total">
              </div>
              <div class="col-md-3">
                  <label for="cantidad_disponible" class="form-label">Cantidad Disponible</label>
                  <input type="number" class="form-control" name="cantidad_disponible" id="cantidad_disponible">
              </div>   
              <div class="col-12 d-flex justify-content-center">
                  <div class="form-check">
                      <input type="hidden" name="disponibilidad" value="False">
                      <label class="form-check-label" for="gridCheck">Disponible</label>
                      <input class="form-check-input" name="disponibilidad" type="checkbox" id="gridCheck" value="True">
                  </div>
              </div>
              <p class="text-danger fw-bold">{{ error }}</p>
              <div class="col-12 d-grid">
                  <button type="submit" class="btn btn-primary">Agregar Nuevo Libro</button>
              </div>
          </form>
      </div>
  </div>

  <!-- Modal Genero -->
  <div
  class="modal fade"
  id="agregar"
  tabindex="-1"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="d-flex flex-row-reverse">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <form
          action="{% url 'genero' %}"
          method="post"
        >
          {% csrf_token %}
          <h1 class="modal-title text-center">
            Agregar Genero
          </h1>
          <div class="row m-2">
            <div class="col">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  name="genero"
                  id="genero"
                  placeholder=""
                />
                <label for="genero">Agrega el genero</label>
              </div>
            </div>
          </div>
          <p class="text-danger text-center mt-3">{{ error }}</p>
          <div class="container text-center mt-4 d-grid">
            <button class="btn btn-primary" type="submit">
              Agregar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

</div>


{% endblock %}
