{% extends "../admins/base_admin.html" %}{% block admin_content %}
<div class="bg-primary-subtle w-100 text-black fw-bold d-flex flex-column justify-content-center align-items-center">
  <form action="{% url 'registro' %}" method="post">
    {% csrf_token %}
    <h1 class="text-center">Nuevo Usuario</h1>
    <div class="row text-center row-gap-3 mx-0">
      {% if error %}
      <p class="text-danger fw-bold">{{ error }}</p>
      {% endif %}
      <div class="container-fluid col-4 me-0">
        <label class="form-label" for="username">Usuario</label>
        <input type="text" id="username" name="username" class="form-control" required/>
      </div>
      <div class="container-fluid col-4 ms-0">
        <label class="form-label" for="password">Contraseña</label>
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          required
        />
      </div>
      <div class="container-fluid col-8">
        <label class="form-label" for="email">Correo Electronico</label>
        <input type="email" id="email" name="email" class="form-control" required/>
      </div>
      <div class="col-12">
        <label for="es_admin">Es admin</label>
        <input type="checkbox" id="es_admin" name="es_admin" value="es_admin" class="form-check-input">
      </div>
      <div class="container-fluid col-12">
        <button type="submit" class="btn btn-primary">Registrar</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
